root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4

[*.cs]
dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# New line preferences
end_of_line = crlf
insert_final_newline = true

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false

# this. and Me. preferences
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Expression-level preferences
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion

# Field preferences
dotnet_style_readonly_field = true:suggestion

# Parameter preferences
dotnet_code_quality_unused_parameters = all:suggestion

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = false:silent
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent

# Expression-bodied members
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call = true:suggestion

# Modifier preferences
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:silent

# Code-block preferences
csharp_prefer_braces = true:error
csharp_prefer_simple_using_statement = true:suggestion

# Expression-level preferences
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:silent

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal


dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal

# Naming styles

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case


# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# C# spaces
csharp_space_between_parentheses = false:suggestion
csharp_space_after_keywords_in_control_flow_statements = true:suggestion
csharp_space_before_colon_in_inheritance_clause = true:suggestion
csharp_space_after_colon_in_inheritance_clause = true:suggestion
csharp_space_after_comma = true:suggestion

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

# mvc, razor and so on...
dotnet_diagnostic.BL0002.severity = error
dotnet_diagnostic.BL0003.severity = error
dotnet_diagnostic.BL0005.severity = error
dotnet_diagnostic.BL0006.severity = error
dotnet_diagnostic.MVC1000.severity = error
dotnet_diagnostic.MVC1002.severity = error
dotnet_diagnostic.MVC1003.severity = error
dotnet_diagnostic.MVC1004.severity = error
dotnet_diagnostic.API1000.severity = error
dotnet_diagnostic.API1001.severity = error
dotnet_diagnostic.API1002.severity = error
dotnet_diagnostic.API1003.severity = error
dotnet_diagnostic.CS8019.severity = error
dotnet_diagnostic.CS8020.severity = error


# .editor config formating - build time check (new in .net 5)
# those warning can be turned on when we migrate to .net 5
dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0004.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0009.severity = none
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0016.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0018.severity = none
dotnet_diagnostic.IDE0019.severity = none
dotnet_diagnostic.IDE0020.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0023.severity = none
dotnet_diagnostic.IDE0024.severity = none
dotnet_diagnostic.IDE0025.severity = none
dotnet_diagnostic.IDE0026.severity = none
dotnet_diagnostic.IDE0027.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0029.severity = none
dotnet_diagnostic.IDE0030.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0036.severity = none
dotnet_diagnostic.IDE0037.severity = none
dotnet_diagnostic.IDE0038.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0041.severity = none
dotnet_diagnostic.IDE0042.severity = none
dotnet_diagnostic.IDE0043.severity = none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0048.severity = none
dotnet_diagnostic.IDE0049.severity = none
dotnet_diagnostic.IDE0050.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0053.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0056.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0061.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0064.severity = none
dotnet_diagnostic.IDE0065.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0071.severity = none
dotnet_diagnostic.IDE0072.severity = none
dotnet_diagnostic.IDE0073.severity = none
dotnet_diagnostic.IDE0074.severity = none
dotnet_diagnostic.IDE0075.severity = none
dotnet_diagnostic.IDE0076.severity = none
dotnet_diagnostic.IDE0077.severity = none
dotnet_diagnostic.IDE0078.severity = none
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0080.severity = none
dotnet_diagnostic.IDE0082.severity = none
dotnet_diagnostic.IDE0083.severity = none
dotnet_diagnostic.IDE1005.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.RE0001.severity = none
dotnet_diagnostic.IDE0033.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0067.severity = none
dotnet_diagnostic.IDE0068.severity = none
dotnet_diagnostic.IDE0069.severity = none
dotnet_diagnostic.IDE0070.severity = none

# fxcop opt in rules
# list of all rules https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.FxCopAnalyzers/Microsoft.CodeAnalysis.FxCopAnalyzers.md
dotnet_diagnostic.CA1002.severity = error
dotnet_diagnostic.CA1003.severity = error
dotnet_diagnostic.CA1005.severity = error
dotnet_diagnostic.CA1008.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1014.severity = error
dotnet_diagnostic.CA1017.severity = error
dotnet_diagnostic.CA1019.severity = error
dotnet_diagnostic.CA1021.severity = error
dotnet_diagnostic.CA1024.severity = error
dotnet_diagnostic.CA1027.severity = error
dotnet_diagnostic.CA1033.severity = error
dotnet_diagnostic.CA1045.severity = error
dotnet_diagnostic.CA1046.severity = error
dotnet_diagnostic.CA1050.severity = error
dotnet_diagnostic.CA1060.severity = error
dotnet_diagnostic.CA1501.severity = error
dotnet_diagnostic.CA1502.severity = error
dotnet_diagnostic.CA1505.severity = error
dotnet_diagnostic.CA1506.severity = error
dotnet_diagnostic.CA1508.severity = error
dotnet_diagnostic.CA1509.severity = error
dotnet_diagnostic.CA1700.severity = error
dotnet_diagnostic.CA1708.severity = error
dotnet_diagnostic.CA1711.severity = error
dotnet_diagnostic.CA1725.severity = error
dotnet_diagnostic.CA2109.severity = error
dotnet_diagnostic.CA2217.severity = error
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1003.severity = error
dotnet_diagnostic.CA1019.severity = error
dotnet_diagnostic.CA1032.severity = error
dotnet_diagnostic.CA1065.severity = error
dotnet_diagnostic.CA2234.severity = error
dotnet_diagnostic.EF1001.severity = error
dotnet_diagnostic.CA1307.severity = error
dotnet_diagnostic.CA1813.severity = error
dotnet_diagnostic.CA1816.severity = error
dotnet_diagnostic.CA1838.severity = error
dotnet_diagnostic.CA2201.severity = error
dotnet_diagnostic.CA2300.severity = error
dotnet_diagnostic.CA2301.severity = error
dotnet_diagnostic.CA2302.severity = error
dotnet_diagnostic.CA2305.severity = error
dotnet_diagnostic.CA2310.severity = error
dotnet_diagnostic.CA2311.severity = error
dotnet_diagnostic.CA2312.severity = error
dotnet_diagnostic.CA2315.severity = error
dotnet_diagnostic.CA2321.severity = error
dotnet_diagnostic.CA2322.severity = error
dotnet_diagnostic.CA2326.severity = error
dotnet_diagnostic.CA2327.severity = error
dotnet_diagnostic.CA2328.severity = error
dotnet_diagnostic.CA2329.severity = error
dotnet_diagnostic.CA2330.severity = error
dotnet_diagnostic.CA2350.severity = error
dotnet_diagnostic.CA2351.severity = error
dotnet_diagnostic.CA2352.severity = error
dotnet_diagnostic.CA2353.severity = error
dotnet_diagnostic.CA2354.severity = error
dotnet_diagnostic.CA2355.severity = error
dotnet_diagnostic.CA2356.severity = error
dotnet_diagnostic.CA2361.severity = error
dotnet_diagnostic.CA2362.severity = error
dotnet_diagnostic.CA3001.severity = error
dotnet_diagnostic.CA3002.severity = error
dotnet_diagnostic.CA3003.severity = error
dotnet_diagnostic.CA3004.severity = error
dotnet_diagnostic.CA3005.severity = error
dotnet_diagnostic.CA3006.severity = error
dotnet_diagnostic.CA3007.severity = error
dotnet_diagnostic.CA3008.severity = error
dotnet_diagnostic.CA3009.severity = error
dotnet_diagnostic.CA3010.severity = error
dotnet_diagnostic.CA3011.severity = error
dotnet_diagnostic.CA3012.severity = error
dotnet_diagnostic.CA5358.severity = error
dotnet_diagnostic.CA5361.severity = error
dotnet_diagnostic.CA5362.severity = error
dotnet_diagnostic.CA5367.severity = error
dotnet_diagnostic.CA5375.severity = error
dotnet_diagnostic.CA5376.severity = error
dotnet_diagnostic.CA5377.severity = error
dotnet_diagnostic.CA5378.severity = error
dotnet_diagnostic.CA5380.severity = error
dotnet_diagnostic.CA5381.severity = error
dotnet_diagnostic.CA5382.severity = error
dotnet_diagnostic.CA5383.severity = error
dotnet_diagnostic.CA5386.severity = error
dotnet_diagnostic.CA5387.severity = error
dotnet_diagnostic.CA5388.severity = error
dotnet_diagnostic.CA5389.severity = error
dotnet_diagnostic.CA5390.severity = error
dotnet_diagnostic.CA5391.severity = error
dotnet_diagnostic.CA5392.severity = error
dotnet_diagnostic.CA5393.severity = error
dotnet_diagnostic.CA5394.severity = error
dotnet_diagnostic.CA5395.severity = error
dotnet_diagnostic.CA5396.severity = error
dotnet_diagnostic.CA5397.severity = error
dotnet_diagnostic.CA5398.severity = error
dotnet_diagnostic.CA5399.severity = error
dotnet_diagnostic.CA5400.severity = error
dotnet_diagnostic.CA5401.severity = error
dotnet_diagnostic.CA5402.severity = error
dotnet_diagnostic.CA5403.severity = error
dotnet_diagnostic.CA1309.severity = error
dotnet_diagnostic.CA2201.severity = error


# custom settings of fxcop for this solution
dotnet_diagnostic.CA1034.severity = suggestion # nested types should not be visible
dotnet_diagnostic.CA2007.severity = none # Do not directly await a Task
dotnet_diagnostic.CA1062.severity = none # Validate arguments of public methods - nullable enable
dotnet_diagnostic.CA1822.severity = suggestion # Mark members as static
dotnet_diagnostic.CA2208.severity = suggestion # Instantiate argument exceptions correctly
dotnet_diagnostic.CA2119.severity = suggestion # Seal methods that satisfy private interfaces
dotnet_diagnostic.CA1812.severity = suggestion # Avoid uninstantiated internal classes
dotnet_diagnostic.CA2227.severity = suggestion # Collection properties should be read only
dotnet_diagnostic.CA1721.severity = suggestion # Property names should not match get methods
dotnet_diagnostic.CA1308.severity = suggestion # Normalize strings to uppercase
dotnet_diagnostic.CA1303.severity = suggestion # Do not pass literals as localized parameters
dotnet_diagnostic.CA1716.severity = suggestion # Identifiers should not match keywords
dotnet_diagnostic.CA2225.severity = suggestion # Operator overloads have named alternates
dotnet_diagnostic.CA1032.severity = suggestion # Implement standard exception constructors
dotnet_diagnostic.CA1031.severity = suggestion # Do not catch general exception types
dotnet_diagnostic.CA1724.severity = suggestion # Type names should not match namespaces
dotnet_diagnostic.CA1024.severity = suggestion # Use properties where appropriate
dotnet_diagnostic.CA1720.severity = suggestion # Identifiers should not contain type names
dotnet_diagnostic.CA1033.severity = suggestion # Interface methods should be callable by child types
dotnet_diagnostic.CA1000.severity = suggestion # Do not declare static members on generic types
dotnet_diagnostic.CA1711.severity = suggestion # Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1725.severity = suggestion # Parameter names should match base declaration
dotnet_diagnostic.CA1506.severity = suggestion # Avoid excessive class coupling
dotnet_diagnostic.CA1307.severity = suggestion # Specify StringComparison for clarity
dotnet_diagnostic.CA5350.severity = suggestion # uses weak crypthographic algorithm
dotnet_diagnostic.CA1021.severity = suggestion # Avoid out parameters
dotnet_diagnostic.CA5394.severity = suggestion # Do not use insecure randomness
dotnet_diagnostic.CA1014.severity = suggestion # Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1707.severity = none #  Remove the underscores from member name
dotnet_diagnostic.CA2000.severity = suggestion # dispose objects before loosing scope - many false positives
dotnet_diagnostic.CS8019.severity = suggestion # Remove unnecessary using
dotnet_diagnostic.CA1002.severity = suggestion # Remove unnecessary using
dotnet_diagnostic.CA2234.severity = suggestion # Remove unnecessary using
dotnet_diagnostic.CA1056.severity = suggestion # Uri instead of string
dotnet_diagnostic.CA1054.severity = suggestion # Uri instead of string

dotnet_diagnostic.API1001.severity = suggestion # Action method returns a success result without a corresponding ProducesResponseType - many false positives

dotnet_diagnostic.IDE0005.severity = suggestion # Remove unnecessary import
dotnet_diagnostic.IDE0034.severity = suggestion # Simplify 'default' expression
dotnet_diagnostic.IDE0046.severity = suggestion # Use conditional expression for return
dotnet_diagnostic.IDE0058.severity = suggestion # Remove unnecessary expression value
dotnet_diagnostic.IDE0078.severity = suggestion # Use pattern matching

dotnet_diagnostic.CS1998.severity = suggestion

